<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IOrderHandler" type="UnityIOC.IOrderHandler" />
  <container>
    <register type="UnityIOC.IRechargeHandler,UnityIOC" mapTo="UnityIOC.RechargeHandler, UnityIOC" /> <!-- if class file is in different project then add project namespace with comma-->
  </container>
</unity>
